<h1>Home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h1>Blog Posts</h1>
<%= @posts.inspect %>
<h1>Skills</h1>
<%= @skills.inspect %>


<h2>Used this to merge and update Git after Skills</h2>
<td>
  <li>git add .</li>
</td>
<td>
  <li>git commit -m 'mesage here'</li>
</td>
<td>
  <li>git checkout master</li>
</td>
<td>
  <li>git merge model-gemerator</li>
</td>
<td>
  <li>git branch - just to check</li>
</td>
<td>
  <li>git push</li>
</td>

<p><strong> NB. Don't forget to turn on Postgres</strong></p>